xml-json/src/main/mule/xml_json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b47b775-7328-4795-a6c9-99df1d9a3349" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="xml_jsonFlow" doc:id="dbcc3284-943b-4902-8db2-193a0afcf22c" >
		<http:listener doc:name="Listener" doc:id="ae72d1d9-785d-4480-b6a9-7f2218f448fa" config-ref="HTTP_Listener_config" path="/xmltojson" allowedMethods="GET, POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="93814ed5-875b-43ba-9b36-93307c73cc5c" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ddfc31ea-3307-46fa-86c1-2d14088ce649" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var orders = payload map {
	'item$$':{
	total: $.price * $.quantity
	}
}

---
orders

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2da7a8e0-f956-417d-951b-7fdc181d3e44" message="#[payload]"/>
	</flow>
</mule>
