epoch/src/main/mule/epoch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5ddcc8a-1f8b-4295-81f6-bbaef247309c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="epochFlow" doc:id="4a43d9bf-4dbc-49be-a068-12f15e9d4a42" >
		<http:listener doc:name="Listener" doc:id="7aa3ac20-ecd6-4912-bb94-6997516c6fdf" config-ref="HTTP_Listener_config" path="/epoch"/>
		<set-variable value="2019-07-31T16:40:54.757Z" doc:name="Set Variable" doc:id="c470aca2-e337-4081-9fa2-ec0b471712f7" variableName="dateTime"/>
		<ee:transform doc:name="Transform Message" doc:id="5315f3d0-d94c-43d5-86d3-0783460a5434" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

((vars.dateTime as LocalDateTime) ++ |00:00:00| ++ |+00:00|) as Number
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d42f9356-6ae5-44eb-b674-1fe7237fd535" message="#[vars.dateTime]"/>
	</flow>
</mule>
