email/src/main/mule/mail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a0a81781-3d95-4f93-a985-7a345b5e00e2" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
		
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="76296082-a846-4653-9481-8a9ea1fd4b75" >
		<email:smtp-connection host="smtp.gmail.com" user="goodluck.success@gmail.com" port="587">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
		
	</email:smtp-config>
	
	<flow name="mailFlow" doc:id="4f7d0b93-ca3d-42a4-83bb-95334f204eb0" >
		<http:listener doc:name="Listener" doc:id="240854f7-708c-4e1f-82e2-80b4292dd1f0" config-ref="HTTP_Listener_config" path="/email"/>
		
		<email:send config-ref="Email_SMTP" subject="Mule 4 - Test Email" fromAddress="goodluck.success@gmail.com" doc:id="77f7ed09-cb5c-4221-8f6f-de2a2cefdd8d">
    <email:to-addresses>
				<email:to-address value="goodluck.success@gmail.com" />

    </email:to-addresses>
    <email:body contentType="text/html">
				<email:content ><![CDATA[#['Hello Bharath, This is test email from Mule 4']]]></email:content>

    </email:body>
</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="b1c83524-3a87-4f75-b149-ced2463f7a93" message="Mail has been sent"/>
	
	
</flow>
	
	
</mule>
